//林暢彦 info
@charset "UTF-8";

html{
    overflow-x:hidden;
}

body{
    font-family: "Arial", "ヒラギノ角ゴ ProN", "游ゴシック", sans-serif;
    color: #222;
    margin-left:10px;
    margin-right:10px;
    font-weight: 200;
    /*background: #e29;*/
}
* {
	float: none;
	position: static;
}
 
h1{
}

h2{
    font-size: 90%;
}

h3{
    font-size: 90%;
}

p{
    font-size: 90%;
}

li{
    font-size: 90%;
}


dl{
    /*padding-top:15px;
    padding-bottom: 30px;*/
    
    margin-top: 1%;
    margin-bottom: 4%;
}

dt,dd{
    padding-top: 15px;
    padding-bottom: 15px;
}

dd{
text-align : center;
    margin-left:-10px;
    margin-right:-10px;
}

br{
    padding-top:1%;
    padding-bottom: 1%;
}

iframe {
}

img {
	max-width: 100%;
	height: auto;
}

footer {
    width: 10%;
}

ul {
    
}

/*----------ヘッダーメニュー----------------------------------------------------------------------*/
#header dl{
    margin-top: 10%;
    margin-bottom: 10%;
}

/*----------ページ見出し----------------------------------------------------------------------*/
.page_title{
    font-size: 100%;
    max-width: 72em;
    text-align : left;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*----------小見出し----------------------------------------------------------------------*/
.smallTitle{
    font-size: 90%;
    max-width: 70em;
    text-align : left;
    margin: auto;
    line-height: 100%;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 500;
}

/*----------作品リスト----------------------------------------------------------------------*/
#works li{
    max-width: 80em; /*70*/
    margin: auto;
    line-height: 250%;
    font-weight: 100;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1em;
}
#works i{
    font-size: 110%;
    }

/*----------普通の文章----------------------------------------------------------------------*/
/*↓無いとバグる*/
text{
}

/*基本使わない　↓*/
.text{
    max-width: 55em;
    /*text-align : left;*/
    margin: auto;
    line-height: 200%;
    font-weight: 100;
    text-align: justify;
　text-justify: inter-ideograph;
}
/*基本使わない　↑*/

.text_pure{
    max-width: 80em; /*72*/
    margin: auto;
    line-height: 200%;
    font-weight: 100;
    text-align: left;
}
.text_right{
    max-width: 80em; /*72*/
    text-align : right;
    margin: auto;
    line-height: 200%;
    font-weight: 100;
}
.text_large{
    font-size: 110%;
    max-width: 49.7em;
    text-align : left;
    margin: auto;
    line-height: 200%;
    font-weight: 100;
}
.small_text{
    font-size: 80%;
    max-width: 81em;
   text-align : left;
    margin: auto;
    line-height: 200%;
    font-weight: 100;
}


/*----------更新日時----------------------------------------------------------------------*/
.update{
    font-size: 90%;
    max-width: 55em;
    text-align : right;
    margin: auto;
    line-height: 200%;
}


/*----------フッター----------------------------------------------------------------------*/
footer{
    font-size: 90%;
    position: fixed;/* ←絶対位置 */
    bottom: 0;
  text-indent: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    //padding-bottom: 5px; /* ←フッターの高さを指定 */
}
.footerFixed{
    position: relative;/* ←相対位置 */
    text-align : left;
    margin: auto;
}
.footerFloat{
    text-align : left;
    margin: auto;
}
/*----------特定の画面幅以下になったら改行（ヘッダタイトルに使用）-----------------------------------------*/    
@media screen and (min-width: 600px) {
  .br-disp {
    display: none;
  }
}
/*----------特定の画面幅以下になったら改行２（文章など）----------------------------------------------------------------------*/    
@media screen and (min-width: 900px) {
  .br-disp_2 {
    display: none;
  }
}
/*----------デバイス設定----------------------------------------------------------------------*/
/* スマホのみに適用(480px以下) */
@media screen and (max-width:480px) {
p, li, h1, h2, h3, a dl, dd{
  font-size: 90%;
}
.main_title {  
    font-size: 160%;
}
.work_title {
    font-size: 140%;
}
.newsTitle {
    font-size: 140%;
}
.newsSubTitle{
    font-size: 110%;
}
footer {
  position: relative;
    padding-bottom: 10px; 
    box-sizing: border-box;
}
iframe{
  width:100%;
}
.img_fit_work_1{
    width: 100%;
}
}
/*----------画像設定----------------------------------------------------------------------*/
/*ヘッダー用横幅100%*/
.home_img_fit{
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
/*.home_img_fit{
  width: 100%;
  object-fit: cover;
}*/
/*作品用横幅100%*/
.img_fit_1{
  width: 100%;
  height:350px;
  object-fit:cover;
}
/*作品用横幅100%*/
.img_fit_2{
  width: 100%;
  height:600px;
  object-fit:cover;
}
/*ヘッダー用横幅100%*/
.img_fit_3{
  width: 100%;
  height:100%;
  object-fit:cover;
}
/*プロフィール用*/
.img_fit_profile_1{
  width: 30%;
}
/*作品用横幅*/
.img_fit_work_1{
    max-width: 55em;
}
/*作品リスト*/
.work_list_1{
  width: 55em;
  height:100px;
  object-fit:cover;
}
/*========================================================*/